.rte-input {
  min-height: 75px;
}

@media(max-width:480px){
  .link-group {
    margin-top: 5px;
  }
}

/* Styles on inputs are very specific in Qualtrics, have to use !important
   to get new rules to to apply */

.force-parent-lh {
  line-height: inherit !important;
}

.form-control-style {
  color: #555 !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  padding: 6px 12px !important;
}

.link-input {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
